/public/files/file02.ifc filter=lfs diff=lfs merge=lfs -text
/public/files/file01.ifc filter=lfs diff=lfs merge=lfs -text
/dist/files/file01.ifc filter=lfs diff=lfs merge=lfs -text
/dist/files/file02.ifc filter=lfs diff=lfs merge=lfs -text
/public/files/file03.ifc filter=lfs diff=lfs merge=lfs -text
/dist/files/file03.ifc filter=lfs diff=lfs merge=lfs -text
*.ifc filter=lfs diff=lfs merge=lfs -text