* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: white;
    color: black;
}

#content-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

#content-right {
    width: 60%;
}

#text_top, #graphic_center, #text_buttom, #viewer_container, #graphic_buttom{
    width: 100%;
    padding: 30px;
}

#text_top {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#graphic_center {
    height: 45%;
}

#graphic_center img {
    height: 100%;
    width: 100%;
}

#text_buttom {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#viewer_container {
    height: 60%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#graphic_buttom {
    height: 40%;
}

#graphic_buttom img {
    width: 100%;
    height: 100%;
}

/* AJUSTES */
#title-container-dvMXveF71y {
    display: none;
}

#message-Ds8f1WqNRd {
    display: none;
}